SPRING_PROFILES_ACTIVE=String

SERVER_PORT=Number

DB_URL=jdbc:String
DB_USERNAME=String
DB_PASSWORD=String
DB_DIALECT=String
DDL_AUTO=String

REDIS_HOST=String
REDIS_PORT=Number

GOOGLE_ID=String
GOOGLE_SECRET=String
KAKAO_CLIENT_ID=String
KAKAO_CLIENT_SECRET=String
OAUTH_SUCCESS_URL=String
OAUTH_FAILURE_URL=String

AWS_ACCESS_KEY=String
AWS_SECRET_KEY=String
AWS_STATIC=String
AWS_BUCKET=String