SPRING_PROFILES_ACTIVE=String

SERVER_PORT=Number

DB_URL=jdbc:String
DB_USERNAME=String
DB_PASSWORD=String
DB_DRIVER_CLASS_NAME=String
DB_DIALECT=String
DDL_AUTO=String

REDIS_HOST=String
REDIS_PORT=Number
REDIS_PASSWORD=String

GOOGLE_ID=String
GOOGLE_SECRET=String
GOOGLE_REDIRECT_URI=String
KAKAO_CLIENT_ID=String
KAKAO_CLIENT_SECRET=String
KAKAO_REDIRECT_URI=String

AWS_ACCESS_KEY=String
AWS_SECRET_KEY=String
AWS_STATIC=String
AWS_BUCKET=String

JWT_ACCESS_SECRET=String
JWT_REFRESH_SECRET=String

CORS_ALLOWED_ORIGINS=String